.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.input__field{
    width: 90%;
    padding: 5px 10px;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid black;
    text-transform: capitalize;
    margin-right: 5px;
}

input::placeholder{
    text-transform: lowercase;
}

.icons{
    margin-left: 5px;
}

.icons:hover{
    cursor: pointer;
    transition: 0.5s ease-out;
    scale: 1.2;
}