.weatherforecast{
    width: 30%;
    text-align: center;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}



.dayfewclouds{
    background-image: url("../../assests/daycloudy.gif");
}

.dayrainfall{
    background-image: url("../../assests/dayrainfall.gif");
}

.sunnyday{
    background-image: url("../../assests/sunnyDay.jpg");
}

.thunderstorm{
    background-image: url("../../assests/thunderstorm.gif");
}

.hazysky{
    background-image: url("../../assests/hazySky.jpg");
}

.snowfall{
    background-image: url("../../assests/snowfall.gif");
}

.night{
    background-image: url("../../assests/clearNight.jpg");
}

.nightCloudy{
    background-image: url("../../assests/nightcloudy.gif");
}

.nightrainfall{
    background-image: url("../../assests/nightrainy.gif");
}